body {
	background-color:#F7D358;
	font-family:verdana,arial;
	color:#000000
	 
}

.encabezado {
	background-color:#F3F781

}

.encabezado h1{
	font-size: 28px;
	text-align:center;
	font-family: verdana,arial;
}

#menu {
	float:left;
	height:600px;
}

#menu ul{
	list-style:none
}

#menu a{
	text-decoration: none;
	font-family:arial, verdana;
	color:#000000;
	font-weight:bold;
}
.modulo:{
	width: 200px;
	height: 200px;
	
}

.modulo img{
	width: 250px;
	height: 250px;
}


.perros{
	display:inline-block;
	background-color:#F3F781
	
}

.perros h2 {
	font-size: 20px;
	text-align:center;
}

.perros p {
	font-size: 15px;
	text-align:center;
	
}